#documentSection {
    padding: 2%;
}

#subMenuDiv {
    height: 5vh;
    background-color: rgb(29, 56, 65);
    border-top: rgb(45, 82, 94) 1px solid;
}

.subMenuBtn {
    margin-top: 2%;
}

a {
    color: black;
    text-decoration: none;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

h3 {
    display: inline;
}

p {
    display: inline;
    margin-left: 2%;
}

button {
    margin-left: 2%;
}