<section>
    <div id="subMenuDiv">
        <button class="subMenuBtn"><a [routerLink]="['/createdocument']">Skapa nytt dokument</a></button>
        <button class="subMenuBtn" (click)="logOut()">Logga ut</button>
    </div>

    <section id="documentSection">
        <h2>Alla dokument</h2>
        <div *ngFor="let d of data">
            <h3>{{ d.title }} </h3>
            <p>{{ d.date }} </p>
            <button>Redigera</button>
            <button>Läs</button>
        </div>
    </section>
</section>