* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(45, 82, 94);
    color: white;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}

header {
    height: 10vh;
    background-color: rgb(32, 63, 73);
}

main {
    min-height: 85vh;
    max-height: fit-content;
}

h3 {
    display: inline;
    margin-right: 2%;
}

footer {
    height: 5vh;
    background-color: rgb(32, 63, 73);
}