* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(45, 82, 94);
    color: white;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}

header {
    height: 10vh;
    background-color: rgb(32, 63, 73);
}

#subMenu {
    background-color: rgb(29, 53, 61);
    height: 5vh;
    display: flex;  
    justify-content: space-between;
}

#subMenu button {
    height: 30px;
    width: fit-content;
    padding-left: 1%;
    padding-right: 1%;
}

main {
    min-height: 85vh;
    max-height: fit-content;
}

#loginMain {
    text-align: center;
}

#welcomeH2 {
    padding-top: 10vh;
    text-align: center;
}

h3 {
    display: inline;
    margin-right: 2%;
}

#blockH3 {
    display: block;
}

h4 {
    display: inline;
}

#userName, 
#password {
    margin: 0 auto;
}

#textContent {
    width: 70%;
    min-height: 200px;
    max-height: fit-content;
}

input {
    display: block;
    width: 50%;
    border-radius: 5px;
    padding-top: 1%;
    padding-bottom: 1%;
}

button {
    margin-top: 1%;
    border-radius: 5px;
    border: none;
    padding: 0.5%;
    box-shadow: 1px 1px 2px rgb(2, 2, 2);
    margin-left: 2%;
}

#submitLoginBtn {
    margin-top: 2%;
    padding: 1.5%;
}

#docSection {
    margin: 0 auto;
    margin-top: 5%;
    background-color: rgb(32, 63, 73);
    width: 100%;
    padding: 10%;
    margin-bottom: 2%;
}

.docHeading {
    font-size: 1.7rem;
}

#submitUpdateBtn {
    margin-bottom: 2%;
}

#stopEditBtn,
#stopReadBtn {
    margin-top: 5%;
}

footer {
    height: 5vh;
    background-color: rgb(32, 63, 73);
}